<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Swish {{ swoshPreviewDTO.amount}}kr to {{ swoshPreviewDTO.payee }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ swoshPreviewDTO.swishUri }}" />
    <meta property="og:image" content="https://swosh.me/pics/swosh.png" />
    <meta property="og:description" content="Message: {{ swoshPreviewDTO.description }}" />
    <title>Swosh preview</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body class="container">
<div class="row justify-content-center" style="margin-top: 1em;">
    <div class="col col-md-auto">
        <h1>Swosh preview</h1>
        <dl>
            <dt>Payee</dt>
            <dd>{{swoshPreviewDTO.payee}}</dd>
            <dt>Amount</dt>
            <dd>{{swoshPreviewDTO.amount}} kr</dd>
            {{#swoshPreviewDTO.description}}
            <dt>Description</dt>
            <dd>{{swoshPreviewDTO.description}}</dd>
            {{/swoshPreviewDTO.description}}
            <dt>Link expires on</dt>
            <dd>
                {{#swoshPreviewDTO.expiresOn}}{{swoshPreviewDTO.expiresOn}}{{/swoshPreviewDTO.expiresOn}}{{^swoshPreviewDTO.expiresOn}}never!{{/swoshPreviewDTO.expiresOn}}
            </dd>
        </dl>
        <a href="{{swoshPreviewDTO.swishUri}}" class="btn btn-primary">Looks good, open Swish</a>
    </div>
    <div class="col col-md-auto" style="margin-top: 1em;">
        <h4>Or scan the QR-code</h4>
        <div title="{{swoshPreviewDTO.swishUri}}">
            <canvas width="256" height="256" style="display: none;"></canvas>
            <img alt="Scan me!" style="display: block;" src="data:image/png;base64,{{swoshPreviewDTO.qrCode}}">
        </div>
    </div>
</div>
<script>
    window.location = "{{swoshPreviewDTO.swishUri}}"
</script>
</body>
</html>
