<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="Swish {{ swoshPreviewDTO.amount}}kr to {{ swoshPreviewDTO.payee }}"/>
    <meta property="og:image" content="{{ scheme }}://{{ host }}/img/money.svg">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ scheme }}://{{ host }}/{{ swoshPreviewDTO.id }}"/>
    <meta property="og:description"
          content="{{#swoshPreviewDTO.description }}{{swoshPreviewDTO.description }}{{/swoshPreviewDTO.description }}{{^swoshPreviewDTO.description }}No message given...{{/swoshPreviewDTO.description }}"/>
    <meta property="og:locale" content="sv_SE">
    <title>Swosh preview</title>
    {{>head}}
    <script src="/js/preview.js"></script>
</head>
<body class="container">
<div class="row justify-content-center" style="margin-top: 1em;">
    <div class="col col-md-auto">
        <h1>Swosh preview</h1>
        <dl>
            <dt>Payee</dt>
            <dd>{{swoshPreviewDTO.payee}}</dd>
            <dt>Amount</dt>
            <dd>{{swoshPreviewDTO.amount}} kr</dd>
            {{#swoshPreviewDTO.description}}
            <dt>Description</dt>
            <dd>{{swoshPreviewDTO.description}}</dd>
            {{/swoshPreviewDTO.description}}
            <dt>Link expires on</dt>
            <dd>
                {{#swoshPreviewDTO.expiresOn}}{{swoshPreviewDTO.expiresOn}}{{/swoshPreviewDTO.expiresOn}}{{^swoshPreviewDTO.expiresOn}}never!{{/swoshPreviewDTO.expiresOn}}
            </dd>
        </dl>
        <a href="{{swoshPreviewDTO.swishUri}}" class="btn btn-primary" id="openSwish">Looks good, open Swish</a>
    </div>
    <div class="col col-md-auto" style="margin-top: 1em;">
        <h4>Or scan the QR-code</h4>
        <div title="{{swoshPreviewDTO.swishUri}}">
            <canvas width="256" height="256" style="display: none;"></canvas>
            <img alt="Scan me!" style="display: block;" src="data:image/png;base64,{{swoshPreviewDTO.qrCode}}">
        </div>
    </div>
</div>
</body>
</html>
